<!-- views/partials/header.ejs -->

<!DOCTYPE html>
  <h3><i>Welcome to TinyApp!</i></h3>

  <% if (userEmail) { %>
  <h4><%= userEmail %> &nbsp
  <form method="POST" action="/logout" style="display:inline">
    <input type="submit" value="Logout">
  </form>
  </h4>
  <% } else { %>
  <div>
    <a href="/login">Log In</a>
    &nbsp &nbsp &nbsp
    <a href="/register">Sign Up</a>
  </div>
  <% } %>

