<!-- views/register.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
  <ul>
    <form method="POST" action="/register">
      <p>
        <h5>Email</h5>
        <input id="email" type="email" name="email" placeholder="Enter New Email" style="width: 200px">
      </p>
      <p>
        <h5>Password</h5>
        <input id="password" type="password" name="password" placeholder="Enter New Password" style="width: 200px">
      </p>
      <input type="submit" value="Submit">
    </form>
  </ul>
</body>