<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
  <ul>
    <% for(var url in urls) { %>
      <li><%= urls[url] + ': ' + url %></li>
      <form method="POST" action="/urls/<%= url %>/delete">
        <button type="submit">Delete This URL</button>
      </form>
    <% } %>
  </ul>
  <div>
    <a href="https://en.wikipedia.org/wiki/Cat">Shorten a new URL!</a>
  </div>
</body>
</html>
