<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
  <ul>
    <% for (var url in urls) { %>
        <li><%= `${urls[url].url}: ${url}` %></li>
        <form method="POST" action="/urls/<%= url %>/delete" style="display: inline">
          <button type="submit">Delete This URL</button>
        </form>
        <form method="GET" action="/urls/<%= url %>" style="display: inline">
          <button type="submit">Edit This URL</button>
        </form>
    <% } %>
  </ul>
  <form action = "urls/new" method="POST">
    <a href="/urls/new">Create a New Short Link!</a>
  </form>
</body>
</html>
